/* import custom font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto&display=swap');

/* ---section formatting--- */
body {
  background-color: #D9CECC;
}

header {
  background: #D9CECC;
  color: black;
}

/* horitzonal rule dividing sections */
hr {
  background-color: #76898C;
  border-width: 0px;
  height: 2px;
  margin: 0px;
}

header img {
  margin: 0px;
  padding-top: 0px;
}

header h1 {
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  line-height: 72px;
  font-size: 72px;
  font-family:'DM Serif Display', cursive;
}

/* ---nav bar--- */
header nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

/* nav bar bullets */
header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

/* nav bar bullet styling */
header nav ul li a {
  color: black;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  margin: 0 20px 0 0;
}

/* ---margins on sections--- */
header nav ul li:last-child a {
  margin-right: 0;
}

/* standard margin */
main h2, main p, footer p, form {
  margin-left: 20px;
}

main p, footer p {
  margin-right: 5px;
}

.portfolio-bullets {
  list-style-position: outside;
}

/* ---flex-box--- */
.group {
  display: flex;
  flex-direction: column;
}

.group-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.portfolio-item {
  flex-direction: column;
  flex: 1;
  margin: 10px;
  padding: 15px;
  max-width: 600px;
  height: 700px;
  align-self: center;
  display: flex;
  background-color: #D9CECC;
  border-radius: 25px;
}

.portfolio-item img {
  border-radius: 25px;
  max-height: 300px;
  align-self: center;
}

.item-double {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-bottom: 15px;
}

.item .about-img {
  border-radius: 50px;
  max-height: 225px;
  align-self: center;
}

/* ---font styles--- */
main * {
  font-family: 'Roboto', sans-serif;
}

footer * {
  font-family: 'Roboto', sans-serif;
}

/* ---padding and margins--- */
.m-bottom-0 {
  margin-bottom: 0px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.p-top-5 {
  padding-top: 5px;
}

.p-top-15 {
  padding-top: 15px;
}

.p-top-25 {
  padding-top: 25px;
}

.p-bottom-15 {
  padding-bottom: 15px;
}

.p-bottom-25 {
  padding-bottom: 25px;
}

/* ---font size and text formatting--- */
main p {
  font-size: 16px;
}

.f-size-20 {
  font-size: 20px;
}

.f-size-22 {
  font-size: 22px;
}

.f-size-24 {
  font-size: 24px;
}

p, ul {
  line-height: 25px;
}

.align-center {
  text-align: center;
}

/* ---width and height--- */
.width-100 {
  width: 100%;
}

.m-width-75 {
  max-width: 80%;
}

.m-width-500 {
  max-width: 500px;
}

/* ---colors--- */
.grey-border {
  border-style: solid;
  border-color: #76898C;
  border-width: 2px;
}

.bg-color-silver {
  background-color: #D7D9D7;
}

.bg-color-dark {
  background-color: #76898C;
}

.fc-white {
  color: white;
}

/* ---form--- */
form label {
  padding-top: 5px;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0px; 
  font-size: 16px;
  background: #76898C;
  color: white;
  margin-left: 0px;
  margin-bottom: 10px;
}

form input {
  margin-bottom: 20px;
  width: 95%;
}

form textarea {
  height: 150px;
  width: 95%;
  margin-bottom: 5px;
}

/* ---style links--- */ 
a.main:link { 
  color: #593E39;
  text-decoration: none;
  font-weight: bold;
} 

a.main:visited { 
  color: #593E39;
  font-weight: bold;
} 

.placeholder-link {
  cursor: pointer;
  color: #593E39;
  font-weight: bold;
}

/* -----when device is 800px+----- */ 
@media all and (min-width: 800px) {
  /* ---flex-box--- */
  .group-reverse {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .group {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .title-nav {
    display: flex;
    justify-content: space-between;  
  }

  .portfolio-item img {
    border-radius: 50px;
    align-self: center;
    max-height: 600px;
  }

  .portfolio-item {
    border-radius: 50px;
    max-width: 800px;
    height: 800px;
  }

  .item img {
    border-radius: 50px;
    margin-left: 50px;
    align-self: flex-start;
    max-height: 500px;
  }

  .item .about-img {
  border-radius: 50px;
  max-height: 300px;
  }

  /* ---section formatting--- */
  header h1 {
    margin-left: 50px;
    padding-bottom: 30px;
    font-size: 86px;
  }

  header nav {
    margin-top: 30px;
    margin-right: 50px;
  }

  footer p, main p, form {
  margin-left: 50px;
  }

  .m-left-50 {
    margin-left: 50px;
  }

  .m-bottom-4 {
  margin-bottom: 4px; 
  }

  main p, footer p, form {
  margin-right: 0px;
  } 

  .portfolio-bullets {
  list-style-position: outside;
  margin-left: 5%;
  }

  /* ---nav bar formatting--- */
  header nav ul li a {
  font-size: 20px;
  margin: 0 25px 0 0;
  }

  /* ---style links--- */
  a.main:hover { 
  color: #76898C;
  text-decoration: 768C76; 
  } 

  .placeholder-link:hover {
  color: #76898C;
  text-decoration: 768C76; 
  }

  header nav ul li a:hover {
  color: #768C76;
  }

  /* ---form--- */
  form input, form textarea {
  margin-bottom: 20px;
  margin-right: 50px;
  width: 100%;
  }

  form button:hover {
  background: #768C76;
  cursor: pointer;
  }
}